:root {
  --playbuttongap-grid-gap: 1px;
  --pad-max-width-big-screen: 380px;
  --pad-max-width-small-screen: 100vw;
  --pad-resting-background-color: #d5d5d5;
  --pad-inner-shape-color: white;
  --text-color: white;
  --background-color: #1a3046;
  --dancing-animation-time: 0.9s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: radial-gradient(#000327, #0d0924);
  color: var(--text-color);
}

.appContainer {
  height: 100vh;
  position: relative;
  z-index: 2;
}

.bcgAnim {
  z-index: 1;
}

.contentBox {
  max-width: var(--pad-max-width-big-screen);
  margin-left: auto;
  margin-right: auto;
  padding: 0 4vw 0 4vw;
}

.intro {
  height: 8%;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4vw 0 4vw;
}

#trackMetadata {
  display: block;
  list-style-type: none;

  li {
    margin-bottom: 10px;
  }
}

#trackSelector {
  height: 3%;
}

#sequencer {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: var(--playbuttongap-grid-gap);
}

#loading,
#notFound {
  display: grid;
  place-items: center;
  height: var(--pad-max-width-big-screen);
}

#footer {
  margin-top: 1.5vh;
}

.githubLink {
  color: rgb(212, 135, 104);
}

.instrumentGroup {
  color: var(--text-color);
  display: grid;
  grid-template-rows: 2rem 1fr 1fr 1fr 1fr;
  grid-gap: var(--playbuttongap-grid-gap);
}

.instrumentGroupName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pad {
  width: 100%;
  border-radius: 5px;
  border-color: #1a3046;
  cursor: pointer;
  height: calc(var(--pad-max-width-big-screen) / 4);
  background: var(--pad-resting-background-color);

  &:hover {
    background: darkgray;
  }
}

.triangle {
  margin-left: 35%;
  width: 33%;
  height: 33%;
  background: var(--pad-inner-shape-color);
  clip-path: polygon(100% 50%, 0 0, 0 100%);
}

.square {
  margin-left: 33%;
  width: 33%;
  height: 32%;
  background: var(--pad-inner-shape-color);
}

.dropdown {
  width: 63%;
  border-radius: 3px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  background-color: white;
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .contentBox {
    max-width: var(--pad-max-width-small-screen);
  }

  .pad {
    height: calc(var(--pad-max-width-small-screen) / 4);
  }
}

@mixin startAnim($name, $restingColor, $groupColor) {
  @keyframes #{$name} {
    0% {
      background-color: $restingColor;
    }
    25% {
      background-color: $groupColor;
    }
    50% {
      background-color: $restingColor;
    }
    100% {
      background-color: $groupColor;
    }
  }
}

@mixin stopAnim($name, $restingColor, $groupColor) {
  @keyframes #{$name} {
    0% {
      background-color: $groupColor;
    }
    25% {
      background-color: $restingColor;
    }
    50% {
      background-color: $groupColor;
    }
    100% {
      background-color: $restingColor;
    }
  }
}

@for $i from 1 through 4 {
  @include startAnim(group#{$i}StartAnim, var(--pad-resting-background-color), var(--pad-group#{$i}-background-color));
}

@for $i from 1 through 4 {
  @include stopAnim(group#{$i}StopAnim, var(--pad-resting-background-color), var(--pad-group#{$i}-background-color));
}

.dot-bricks {
  align-self: flex-start;
  position: relative;
  left: -9999px;
  width: 8px;
  height: 8px;
  border-radius: 1px;
  animation: dotBricks 2s infinite ease;
}

@keyframes dotBricks {
  0% {
    box-shadow: 9991px -16px 0 0 var(--text-color), 9991px 0 0 0 var(--text-color), 10007px 0 0 0 var(--text-color);
  }
  8.333% {
    box-shadow: 10007px -16px 0 0 var(--text-color), 9991px 0 0 0 var(--text-color), 10007px 0 0 0 var(--text-color);
  }
  16.667% {
    box-shadow: 10007px -16px 0 0 var(--text-color), 9991px -16px 0 0 var(--text-color), 10007px 0 0 0 var(--text-color);
  }
  25% {
    box-shadow: 10007px -16px 0 0 var(--text-color), 9991px -16px 0 0 var(--text-color), 9991px 0 0 0 var(--text-color);
  }
  33.333% {
    box-shadow: 10007px 0 0 0 var(--text-color), 9991px -16px 0 0 var(--text-color), 9991px 0 0 0 var(--text-color);
  }
  41.667% {
    box-shadow: 10007px 0 0 0 var(--text-color), 10007px -16px 0 0 var(--text-color), 9991px 0 0 0 var(--text-color);
  }
  50% {
    box-shadow: 10007px 0 0 0 var(--text-color), 10007px -16px 0 0 var(--text-color), 9991px -16px 0 0 var(--text-color);
  }
  58.333% {
    box-shadow: 9991px 0 0 0 var(--text-color), 10007px -16px 0 0 var(--text-color), 9991px -16px 0 0 var(--text-color);
  }
  66.666% {
    box-shadow: 9991px 0 0 0 var(--text-color), 10007px 0 0 0 var(--text-color), 9991px -16px 0 0 var(--text-color);
  }
  75% {
    box-shadow: 9991px 0 0 0 var(--text-color), 10007px 0 0 0 var(--text-color), 10007px -16px 0 0 var(--text-color);
  }
  83.333% {
    box-shadow: 9991px -16px 0 0 var(--text-color), 10007px 0 0 0 var(--text-color), 10007px -16px 0 0 var(--text-color);
  }
  91.667% {
    box-shadow: 9991px -16px 0 0 var(--text-color), 9991px 0 0 0 var(--text-color), 10007px -16px 0 0 var(--text-color);
  }
  100% {
    box-shadow: 9991px -16px 0 0 var(--text-color), 9991px 0 0 0 var(--text-color), 10007px 0 0 0 var(--text-color);
  }
}

.beam {
  position: absolute;
  width: 0px;
  opacity: 0.75;
  background-color: rgb(216, 30, 30);
  box-shadow: #ecd4d4 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

$box-shadows: var(--pad-group1-background-color), var(--pad-group2-background-color), var(--pad-group3-background-color),
  var(--pad-group4-background-color), var(--pad-group1-background-color), var(--pad-group2-background-color),
  var(--pad-group3-background-color), var(--pad-group4-background-color), var(--pad-group1-background-color),
  var(--pad-group2-background-color), var(--pad-group3-background-color), var(--pad-group4-background-color),
  var(--pad-group1-background-color), var(--pad-group2-background-color), var(--pad-group3-background-color),
  var(--pad-group4-background-color);

$transforms: 1, 1.6, 0.5, 1.2, 2.2, 0.8, 3.2, 1.7, 1, 1.6, 0.5, 1.2, 2.2, 0.8, 3.2, 1.7;

$lefts: 0%, 15%, -15%, -49%, 57%, -87%, 37%, 85% -90%, 30%, -25%, -59%, 37%, -70%, -93%, 80%;

@mixin beamClass($class, $box-shadow, $transform, $left, $animTime) {
  .#{$class} {
    box-shadow: $box-shadow 0px 0px 20px 2px;
    transform: scale($transform);
    left: $left;
    animation: floatUp $animTime infinite linear;
  }
}

@for $i from 1 through 15 {
  @include beamClass(
    x#{$i},
    nth($box-shadows, $i),
    nth($transforms, $i),
    nth($lefts, $i),
    var(--dancing-animation-time)
  );
}

@keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}

// .x8 {
//   -webkit-animation: floatUp var(--dancing-animation-time) infinite linear;
//   -moz-animation: floatUp var(--dancing-animation-time) infinite linear;
//   -o-animation: floatUp var(--dancing-animation-time) infinite linear;
//   animation: floatUp var(--dancing-animation-time) infinite linear;
//   -webkit-transform: scale(1.7);
//   -moz-transform: scale(1.7);
//   -o-transform: scale(1.7);
//   transform: scale(1.7);
//   left: 85%;
// }

// @-webkit-keyframes floatUp {
//   0% {
//     top: 100vh;
//     opacity: 0;
//   }
//   25% {
//     opacity: 1;
//   }
//   50% {
//     top: 0vh;
//     opacity: 0.8;
//   }
//   75% {
//     opacity: 1;
//   }
//   100% {
//     top: -100vh;
//     opacity: 0;
//   }
// }
// @-moz-keyframes floatUp {
//   0% {
//     top: 100vh;
//     opacity: 0;
//   }
//   25% {
//     opacity: 1;
//   }
//   50% {
//     top: 0vh;
//     opacity: 0.8;
//   }
//   75% {
//     opacity: 1;
//   }
//   100% {
//     top: -100vh;
//     opacity: 0;
//   }
// }
// @-o-keyframes floatUp {
//   0% {
//     top: 100vh;
//     opacity: 0;
//   }
//   25% {
//     opacity: 1;
//   }
//   50% {
//     top: 0vh;
//     opacity: 0.8;
//   }
//   75% {
//     opacity: 1;
//   }
//   100% {
//     top: -100vh;
//     opacity: 0;
//   }
// }
