:root {
  --playbuttongap-grid-gap: 0.1rem;
  --pad-max-width-big-screen: 380px;
  --pad-max-width-small-screen: 100vw;
  --pad-resting-background-color: #d5d5d5;
  --pad-inner-shape-color: white;
  --p-text-color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: #1a3046;
  color: var(--p-text-color);
}

.intro {
  color: var(--p-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding: 0 4vw 0 4vw;
}

.githubLink {
  color: rgb(212, 135, 104);
}

.contentBox {
  max-width: var(--pad-max-width-big-screen);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding: 0 4vw 0 4vw;
}

#trackMetadata {
  display: block;
}

#sequencer {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: var(--playbuttongap-grid-gap);
}

#trackSelector {
  margin-top: 1rem;
}

#loading {
  display: grid;
  place-items: center;
  height: 200px;
}

.footer {
  display: grid;
  place-items: center;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
}

.instrumentGroup {
  color: var(--p-text-color);
  display: grid;
  grid-template-rows: 2rem 1fr 1fr 1fr 1fr;
  grid-gap: var(--playbuttongap-grid-gap);
}

.instrumentGroupName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pad {
  width: 100%;
  border-radius: 5px;
  border-color: #1a3046;
  cursor: pointer;
  height: calc(var(--pad-max-width-big-screen) / 4);
  background: var(--pad-resting-background-color);
}

.pad:hover {
  background: darkgray;
}

.triangle {
  margin-left: 35%;
  width: 33%;
  height: 33%;
  background: var(--pad-inner-shape-color);
  clip-path: polygon(100% 50%, 0 0, 0 100%);
}

.square {
  margin-left: 33%;
  width: 33%;
  height: 32%;
  background: var(--pad-inner-shape-color);
}
/* fluff */
.dropdown {
  width: 63%;
  border-radius: 3px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  background-color: white;
  cursor: pointer;
}

.dropdown-header {
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-body {
  padding: 5px;
  border-top: 1px solid #e5e8ec;
  display: none;
}

.dropdown-body.open {
  display: block;
  position: absolute;
}

.dropdown-item {
  padding: 10px;
}

.dropdown-item:hover {
  cursor: pointer;
}

.dropdown-item-dot {
  opacity: 0;
  color: #91a5be;
  transition: all 0.2s ease-in-out;
}

.dropdown-item-dot.selected {
  opacity: 1;
}

.icon {
  font-size: 13px;
  color: #91a5be;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.icon.open {
  transform: rotate(90deg);
}
/* fluff */

.dot-bricks {
  position: relative;
  left: -9999px;
  width: 8px;
  height: 8px;
  border-radius: 1px;
  animation: dotBricks 2s infinite ease;
}

@media only screen and (max-width: 450px) {
  .contentBox {
    max-width: var(--pad-max-width-small-screen);
  }

  .pad {
    height: calc(var(--pad-max-width-small-screen) / 4);
  }
}

@keyframes group1StartAnim {
  0% {
    background-color: var(--pad-resting-background-color);
  }
  25% {
    background-color: var(--pad-group1-background-color);
  }
  50% {
    background-color: var(--pad-resting-background-color);
  }
  100% {
    background-color: var(--pad-group1-background-color);
  }
}

@keyframes group2StartAnim {
  0% {
    background-color: var(--pad-resting-background-color);
  }
  25% {
    background-color: var(--pad-group2-background-color);
  }
  50% {
    background-color: var(--pad-resting-background-color);
  }
  100% {
    background-color: var(--pad-group2-background-color);
  }
}

@keyframes group4StartAnim {
  0% {
    background-color: var(--pad-resting-background-color);
  }
  25% {
    background-color: var(--pad-group4-background-color);
  }
  50% {
    background-color: var(--pad-resting-background-color);
  }
  100% {
    background-color: var(--pad-group4-background-color);
  }
}

@keyframes group3StartAnim {
  0% {
    background-color: var(--pad-resting-background-color);
  }
  25% {
    background-color: var(--pad-group3-background-color);
  }
  50% {
    background-color: var(--pad-resting-background-color);
  }
  100% {
    background-color: var(--pad-group3-background-color);
  }
}

@keyframes group1StopAnim {
  0% {
    background-color: var(--pad-group1-background-color);
  }
  25% {
    background-color: var(--pad-resting-background-color);
  }
  50% {
    background-color: var(--pad-group1-background-color);
  }
  100% {
    background-color: var(--pad-resting-background-color);
  }
}

@keyframes group2StopAnim {
  0% {
    background-color: var(--pad-group2-background-color);
  }
  25% {
    background-color: var(--pad-resting-background-color);
  }
  50% {
    background-color: var(--pad-group2-background-color);
  }
  100% {
    background-color: var(--pad-resting-background-color);
  }
}

@keyframes group4StopAnim {
  0% {
    background-color: var(--pad-group4-background-color);
  }
  25% {
    background-color: var(--pad-resting-background-color);
  }
  50% {
    background-color: var(--pad-group4-background-color);
  }
  100% {
    background-color: var(--pad-resting-background-color);
  }
}

@keyframes group3StopAnim {
  0% {
    background-color: var(--pad-group3-background-color);
  }
  25% {
    background-color: var(--pad-resting-background-color);
  }
  50% {
    background-color: var(--pad-group3-background-color);
  }
  100% {
    background-color: var(--pad-resting-background-color);
  }
}

@keyframes dotBricks {
  0% {
    box-shadow: 9991px -16px 0 0 var(--p-text-color), 9991px 0 0 0 var(--p-text-color),
      10007px 0 0 0 var(--p-text-color);
  }
  8.333% {
    box-shadow: 10007px -16px 0 0 var(--p-text-color), 9991px 0 0 0 var(--p-text-color),
      10007px 0 0 0 var(--p-text-color);
  }
  16.667% {
    box-shadow: 10007px -16px 0 0 var(--p-text-color), 9991px -16px 0 0 var(--p-text-color),
      10007px 0 0 0 var(--p-text-color);
  }
  25% {
    box-shadow: 10007px -16px 0 0 var(--p-text-color), 9991px -16px 0 0 var(--p-text-color),
      9991px 0 0 0 var(--p-text-color);
  }
  33.333% {
    box-shadow: 10007px 0 0 0 var(--p-text-color), 9991px -16px 0 0 var(--p-text-color),
      9991px 0 0 0 var(--p-text-color);
  }
  41.667% {
    box-shadow: 10007px 0 0 0 var(--p-text-color), 10007px -16px 0 0 var(--p-text-color),
      9991px 0 0 0 var(--p-text-color);
  }
  50% {
    box-shadow: 10007px 0 0 0 var(--p-text-color), 10007px -16px 0 0 var(--p-text-color),
      9991px -16px 0 0 var(--p-text-color);
  }
  58.333% {
    box-shadow: 9991px 0 0 0 var(--p-text-color), 10007px -16px 0 0 var(--p-text-color),
      9991px -16px 0 0 var(--p-text-color);
  }
  66.666% {
    box-shadow: 9991px 0 0 0 var(--p-text-color), 10007px 0 0 0 var(--p-text-color),
      9991px -16px 0 0 var(--p-text-color);
  }
  75% {
    box-shadow: 9991px 0 0 0 var(--p-text-color), 10007px 0 0 0 var(--p-text-color),
      10007px -16px 0 0 var(--p-text-color);
  }
  83.333% {
    box-shadow: 9991px -16px 0 0 var(--p-text-color), 10007px 0 0 0 var(--p-text-color),
      10007px -16px 0 0 var(--p-text-color);
  }
  91.667% {
    box-shadow: 9991px -16px 0 0 var(--p-text-color), 9991px 0 0 0 var(--p-text-color),
      10007px -16px 0 0 var(--p-text-color);
  }
  100% {
    box-shadow: 9991px -16px 0 0 var(--p-text-color), 9991px 0 0 0 var(--p-text-color),
      10007px 0 0 0 var(--p-text-color);
  }
}
