:root {
  --playbuttongap-grid-gap: 1px;
  --pad-max-width-big-screen: 380px;
  --pad-max-width-small-screen: 100vw;
  --pad-resting-background-color: #d5d5d5;
  --pad-inner-shape-color: white;
  --text-color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: radial-gradient(rgb(36, 11, 107), #06011f);
  color: var(--text-color);
}

.appContainer {
  height: 100vh;
}

.contentBox {
  max-width: var(--pad-max-width-big-screen);
  margin-left: auto;
  margin-right: auto;
  padding: 0 4vw 0 4vw;
}

.fft {
  width: 100%;
  height: 50px;
}

#trackMetadata {
  display: block;
  list-style-type: none;

  li {
    margin-bottom: 10px;
  }
}

#trackSelector {
  height: 3%;
}

#sequencer {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: var(--playbuttongap-grid-gap);
}

#loading,
#notFound {
  display: grid;
  place-items: center;
  height: var(--pad-max-width-big-screen);
}

#footer {
  margin-top: 1.5vh;
}

.githubLink {
  color: rgb(212, 135, 104);
}

.instrumentGroup {
  color: var(--text-color);
  display: grid;
  grid-template-rows: 2rem 1fr 1fr 1fr 1fr;
  grid-gap: var(--playbuttongap-grid-gap);
}

.instrumentGroupName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pad {
  width: 100%;
  border-radius: 5px;
  border-color: #1a3046;
  cursor: pointer;
  height: calc(var(--pad-max-width-big-screen) / 4);
  background: var(--pad-resting-background-color);

  &:hover {
    background: darkgray;
  }
}

.triangle {
  margin-left: 35%;
  width: 33%;
  height: 33%;
  background: var(--pad-inner-shape-color);
  clip-path: polygon(100% 50%, 0 0, 0 100%);
}

.square {
  margin-left: 33%;
  width: 33%;
  height: 32%;
  background: var(--pad-inner-shape-color);
}

.dropdown {
  width: 63%;
  border-radius: 3px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  background-color: white;
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .contentBox {
    max-width: var(--pad-max-width-small-screen);
  }

  .pad {
    height: calc(var(--pad-max-width-small-screen) / 4);
  }
}

@mixin startAnim($name, $restingColor, $groupColor) {
  @keyframes #{$name} {
    0% {
      background-color: $restingColor;
    }
    25% {
      background-color: $groupColor;
    }
    50% {
      background-color: $restingColor;
    }
    100% {
      background-color: $groupColor;
    }
  }
}

@mixin stopAnim($name, $restingColor, $groupColor) {
  @keyframes #{$name} {
    0% {
      background-color: $groupColor;
    }
    25% {
      background-color: $restingColor;
    }
    50% {
      background-color: $groupColor;
    }
    100% {
      background-color: $restingColor;
    }
  }
}

@for $i from 1 through 4 {
  @include startAnim(group#{$i}StartAnim, var(--pad-resting-background-color), var(--pad-group#{$i}-background-color));
}

@for $i from 1 through 4 {
  @include stopAnim(group#{$i}StopAnim, var(--pad-resting-background-color), var(--pad-group#{$i}-background-color));
}

.dot-bricks {
  align-self: flex-start;
  position: relative;
  left: -9999px;
  width: 8px;
  height: 8px;
  border-radius: 1px;
  animation: dotBricks 2s infinite ease;
}

@keyframes dotBricks {
  0% {
    box-shadow: 9991px -16px 0 0 var(--text-color), 9991px 0 0 0 var(--text-color), 10007px 0 0 0 var(--text-color);
  }
  8.333% {
    box-shadow: 10007px -16px 0 0 var(--text-color), 9991px 0 0 0 var(--text-color), 10007px 0 0 0 var(--text-color);
  }
  16.667% {
    box-shadow: 10007px -16px 0 0 var(--text-color), 9991px -16px 0 0 var(--text-color), 10007px 0 0 0 var(--text-color);
  }
  25% {
    box-shadow: 10007px -16px 0 0 var(--text-color), 9991px -16px 0 0 var(--text-color), 9991px 0 0 0 var(--text-color);
  }
  33.333% {
    box-shadow: 10007px 0 0 0 var(--text-color), 9991px -16px 0 0 var(--text-color), 9991px 0 0 0 var(--text-color);
  }
  41.667% {
    box-shadow: 10007px 0 0 0 var(--text-color), 10007px -16px 0 0 var(--text-color), 9991px 0 0 0 var(--text-color);
  }
  50% {
    box-shadow: 10007px 0 0 0 var(--text-color), 10007px -16px 0 0 var(--text-color), 9991px -16px 0 0 var(--text-color);
  }
  58.333% {
    box-shadow: 9991px 0 0 0 var(--text-color), 10007px -16px 0 0 var(--text-color), 9991px -16px 0 0 var(--text-color);
  }
  66.666% {
    box-shadow: 9991px 0 0 0 var(--text-color), 10007px 0 0 0 var(--text-color), 9991px -16px 0 0 var(--text-color);
  }
  75% {
    box-shadow: 9991px 0 0 0 var(--text-color), 10007px 0 0 0 var(--text-color), 10007px -16px 0 0 var(--text-color);
  }
  83.333% {
    box-shadow: 9991px -16px 0 0 var(--text-color), 10007px 0 0 0 var(--text-color), 10007px -16px 0 0 var(--text-color);
  }
  91.667% {
    box-shadow: 9991px -16px 0 0 var(--text-color), 9991px 0 0 0 var(--text-color), 10007px -16px 0 0 var(--text-color);
  }
  100% {
    box-shadow: 9991px -16px 0 0 var(--text-color), 9991px 0 0 0 var(--text-color), 10007px 0 0 0 var(--text-color);
  }
}
