body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

:root {
  --playbuttongap-grid-gap: 0.1rem;
  --pad-max-width: 380px;
  --pad-resting-background-color: lightgrey;
  --pad-group1-background-color: yellow;
  --pad-group2-background-color: blue;
  --pad-group4-background-color: purple;
  --pad-group3-background-color: green;
}

header {
  background: darkgrey;
}

.menu,
.appContainer {
  max-width: 1080px;
  align-items: center;
  margin: 0 auto;
}

.menu {
  display: flex;
}

.menuLeft,
.menuRight {
  margin: 0;
  color: white;
  font-size: 1.25rem;
}

.menuRight {
  margin-left: auto;
}

.sequencerBox {
  background-color: rgb(117, 151, 151);
  max-width: var(--pad-max-width);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: var(--playbuttongap-grid-gap);
}

.instrumentGroup {
  display: grid;
  grid-template-rows: 2rem 1fr 1fr 1fr 1fr;
  grid-gap: var(--playbuttongap-grid-gap);
}

.instrumentGroupName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pad {
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  height: calc(var(--pad-max-width) / 4);
  background: var(--pad-resting-background-color);
}

.triangle {
  margin-left: 35%;
  width: 33%;
  height: 33%;
  background: rgb(160, 165, 160);
  clip-path: polygon(100% 50%, 0 0, 0 100%);
}

.square {
  margin-left: 33%;
  width: 33%;
  height: 32%;
  background: rgb(160, 165, 160);
}

@keyframes group1StartAnim {
  0% {
    background-color: var(--pad-resting-background-color);
  }
  25% {
    background-color: var(--pad-group1-background-color);
  }
  50% {
    background-color: var(--pad-resting-background-color);
  }
  100% {
    background-color: var(--pad-group1-background-color);
  }
}

@keyframes group2StartAnim {
  0% {
    background-color: var(--pad-resting-background-color);
  }
  25% {
    background-color: var(--pad-group2-background-color);
  }
  50% {
    background-color: var(--pad-resting-background-color);
  }
  100% {
    background-color: var(--pad-group2-background-color);
  }
}

@keyframes group4StartAnim {
  0% {
    background-color: var(--pad-resting-background-color);
  }
  25% {
    background-color: var(--pad-group4-background-color);
  }
  50% {
    background-color: var(--pad-resting-background-color);
  }
  100% {
    background-color: var(--pad-group4-background-color);
  }
}

@keyframes group3StartAnim {
  0% {
    background-color: var(--pad-resting-background-color);
  }
  25% {
    background-color: var(--pad-group3-background-color);
  }
  50% {
    background-color: var(--pad-resting-background-color);
  }
  100% {
    background-color: var(--pad-group3-background-color);
  }
}

@keyframes group1StopAnim {
  0% {
    background-color: var(--pad-group1-background-color);
  }
  25% {
    background-color: var(--pad-resting-background-color);
  }
  50% {
    background-color: var(--pad-group1-background-color);
  }
  100% {
    background-color: var(--pad-resting-background-color);
  }
}

@keyframes group2StopAnim {
  0% {
    background-color: var(--pad-group2-background-color);
  }
  25% {
    background-color: var(--pad-resting-background-color);
  }
  50% {
    background-color: var(--pad-group2-background-color);
  }
  100% {
    background-color: var(--pad-resting-background-color);
  }
}

@keyframes group4StopAnim {
  0% {
    background-color: var(--pad-group4-background-color);
  }
  25% {
    background-color: var(--pad-resting-background-color);
  }
  50% {
    background-color: var(--pad-group4-background-color);
  }
  100% {
    background-color: var(--pad-resting-background-color);
  }
}

@keyframes group3StopAnim {
  0% {
    background-color: var(--pad-group3-background-color);
  }
  25% {
    background-color: var(--pad-resting-background-color);
  }
  50% {
    background-color: var(--pad-group3-background-color);
  }
  100% {
    background-color: var(--pad-resting-background-color);
  }
}
